<div align="center">
    <div class="row">
        <div class="column">
            <p align="center">
                <img src="images/ratings/rating_nyrc.gif" width="100" />
            </p>
        </div>
        <div class="column">
            <div>
                <p align="center"><a href="/about">About</a> - <a href="https://github.com/tonytins/tpawcore">View source code</a></p>
            </div>
        </div>
    </div>
</div>
