body {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 0.938em;
}

.page {
    margin: auto;
    width: 90%;
    padding: 10px;
    position: relative;
    min-width: 800px;
    max-width: 1024px;
}

.container {
    min-height: 100vh;
    margin-top: 1vh;
    margin-bottom: 15vh;
}

    .container img {
        margin: 5px;
        object-fit: contain;
    }

footer {
    margin-top: 5vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.welcome {
    height: 137px;
    padding: 5px;
}

.featured {
    padding: 10px;
    height: 400px;
}

    .featured img {
        max-height: 99%;
    }

/* Menu Bar */
/* Add a black background color to the top navigation */
header {
    min-width: 800px;
    max-width: 1024px;
}

.topnav {
    width: 100%;
    background-color: #0078A4;
    overflow: hidden;
    height: 42px;
}

    /* Style the links inside the navigation bar */
    .topnav span {
        float: left;
        text-align: center;
        padding: 10px 16px;
    }

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        /* font-weight: bold; */
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: white;
            color: #0078A4;
        }



        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #ffffff;
            color: black;
        }

    .topnav .navlogo {
        float: left;
        color: white;
        text-align: center;
        padding: 10px;
        height: inherit;
        background: url("../images/logo-white.svg") no-repeat;
    }

        .topnav .navlogo:hover {
            background: url("../images/logo.svg") no-repeat;
        }
