@page "/about"
<SmartTitle Name="About" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet id sapien sit amet gravida. Proin finibus, mi vitae sagittis lobortis, odio nibh semper leo, ac scelerisque magna neque eu augue. Integer fermentum, nisl eu facilisis mollis, nunc orci tincidunt ligula, vitae posuere arcu tortor eget nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod at tellus consequat fringilla. Duis ut facilisis augue. Pellentesque porttitor nisl quis enim sagittis, sed ultrices nunc finibus. Vivamus scelerisque justo at risus dignissim, non faucibus neque aliquet. Nullam interdum sem ligula, ultrices facilisis eros lacinia et. Mauris consectetur ex non lorem gravida vestibulum. Suspendisse pharetra dui ac odio interdum venenatis. Etiam non fermentum est. Maecenas at laoreet ante. Sed vitae orci et felis accumsan auctor vitae vel metus. Vivamus tristique enim nisi, ut luctus odio varius et.
</p>
<p>
    Donec dapibus neque tellus, blandit varius ipsum semper in. Nam a lectus non ex luctus auctor. Praesent dictum eros in sapien eleifend, eget congue augue consectetur. Donec laoreet turpis eget nibh cursus, posuere viverra ante venenatis. Vivamus mattis odio eget nisl facilisis, id tempus sapien bibendum. Phasellus maximus cursus enim. Nulla tempor, tortor vitae feugiat dignissim, lacus nulla fringilla magna, ut maximus nisi ex id eros. Proin imperdiet ac libero a sagittis. Suspendisse quis porttitor elit. Mauris consectetur nulla eu pulvinar condimentum. Morbi in erat id elit auctor pulvinar sed eu risus. Pellentesque eros odio, malesuada nec sem vel, scelerisque volutpat velit. Donec sit amet pretium justo.
</p>
@code {

}

