@page "/"
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada congue tellus vitae pharetra. Mauris sit amet eros non lorem pulvinar convallis. Sed volutpat nunc at nulla finibus ultrices. Cras at ante varius, tempor erat sit amet, fermentum lectus. In eleifend metus vitae elit pulvinar blandit. Integer laoreet, nibh eu ultricies consequat, nisi nunc commodo nibh, in facilisis libero magna non nunc. Mauris varius massa a tempus tincidunt. Donec cursus nibh id lorem lobortis blandit. Nunc tincidunt vestibulum nisi, quis feugiat ex suscipit sed.
</p>
